body{
    background-image: url('ticimg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
h1{
    text-align: center;
    color: darkcyan;
}
#container{
    
    display: grid;
    grid-template-columns: repeat(3,70px);
     align-items: center;
    justify-content: center; 
    gap: 60px;
   
}
#exit{
    display: flex;
    align-items: center;
    justify-content:flex-end;
}
#exit button{
    width: fit-content;
    cursor:pointer;
    background-color: red;
    padding: 10px;
}


.box{
    height:110px;
    width:110px; 
    border-radius:16px; 
    color:red; 
    font-weight: bold;
    font-size: larger;
     
    
}
.box:hover{
    background-color:khaki;

}
#set{
    background-color:blue;
    border-radius:10px;
    color:black;
    height: 40px;
}
#resetButton{
    display:flex;
    justify-content: center;
    margin-top: 20px;
    
}
#set:hover{
    background-color:blue;
}
.winner{
    background-color: aquamarine;
    color:black
}
#message{
    font-size: 50px;
    text-align: center;
    color: darkcyan;
}
