<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body id="gamebody">
    <div id="roc">
    <a href="{{url_for('rock_open')}}"><img id="rockimage" src="{{url_for('static',filename='rockpaperwall.jpg')}}"></a>
    <a href="{{url_for('tic_open')}}"><img id="tic-image" src="{{url_for('static',filename='tic-tac-toe-3-logo.png')}}"></a></div>

</body>
</html>