<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIC-TAT-TOE</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style_tic.css')}}">
</head>
<body>
    <div id="exit"><button id="pop">X</button></div>
    <h1>Tic-Tac-Toe</h1>
    
    <div id="container">
        <button class="box"></button>
        <button class="box"></button>
        <button class="box"></button>
        <button class="box"></button>
        <button class="box"></button>
        <button class="box"></button>
        <button class="box"></button>
        <button class="box"></button>
        <button class="box"></button>
    </div>
     <h1 id="message"></h1>
    <div id="resetButton">
    <button id="set">Reset Game</button></div>
    <h1 id="message"></h1>
    <script src="{{url_for('static',filename='script_tic.js')}}"></script>

    
</body>
</html>