<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" href="{{url_for('static',filename='rock_style.css')}}">
</head>
<body>
    <div id="exit"><button id="pop">X</button></div>
    <div id="header">
    <h1>Rock Paper Scissors</h1>
</div>
<div id="container">
<button class="box">✊</button>
<button class="box">✋</button>
<button class="box">✌️</button></div>
<div id="pos">
<span class="task"> you score</span>
<div>
<span class="count1">0</span>
<span class="count2">:</span>
<span class="count1">0</span></div>
<span class="task">computer score</span>
</div>

<button id="Reset">Reset</button>


<script src="{{url_for('static',filename='script.js')}}"></script>

    
</body>
</html>