<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body id="body">
    <div id="div1">
        <div id="rdiv2">
             <div id="rdiv3">REGISTER HERE</div>
         
         <div id="rdiv4">
            <form action="{{url_for('register')}}" method="POST" autocomplete="off">
                <div>
                <label for="username"><b>USERNAME:</b></label>
                <input type="text" id="username" class="input" name="username"  autocomplete="off" required ></div>
                 <div class="form-row">
                <label for="age" style="margin-right:55px;"><b>AGE:</b></label>
                <input type="number" id="age" class="input" name="age" required></div>
                <div class="form-row"><label for="password"><b>PASSWORD:</b></label>
                <input type="password" id="password" class="input" name="password"  autocomplete="new-password" required> </div>
                <div style="margin-top: 50px; margin-left:90px;"><button>Submit</button></div>
                

            </form> 

         </div>

    </div></div>
    
</body>
</html>